{% extends 'base.html.twig' %}

{% block title %}c'est quoi cette M****{% endblock %}


{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.name_ingredient) }}
        {{ form_widget(form.name_ingredient) }}
         {{ form_label(form.desc_ingredient) }}
        {{ form_widget(form.desc_ingredient) }}
        {{ form_label(form.img_ingredient) }}
        {{ form_widget(form.img_ingredient) }}
        {{ form_rest(form) }}
        <button type="submit">Enregistre ton nouvel ingredient</button>
    {{ form_end(form) }}
{% endblock %}
