{% extends 'base.html.twig' %}

{% block title %}Tu bois Quoi?{% endblock %}


{% block body %}
        {% block stylesheets %}
<link rel="stylesheet" href="/asset/style/bootstrap.min.css">

<link rel="stylesheet" href="/asset/style/drink.css">
        {% endblock %}
        <div class="container">
    {{ form_start(form) }}
        <div class="labe0">{{ form_label(form.name_drink) }} :
        {{ form_widget(form.name_drink) }}</div>
        <br>
        <div class="labe0">{{ form_label(form.price_drink) }} :
        {{ form_widget(form.price_drink) }}</div>
        <br>
        <div class="labe0">{{ form_label(form.desc_drink) }} :
        {{ form_widget(form.desc_drink) }}</div>
        <br>
        <div class="labe0">{{ form_label(form.img_drink) }} :
        {{ form_widget(form.img_drink) }}</div>
        <br>
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Ajouter au Panier</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
