{% extends 'base.html.twig' %}

{% block title %}Vas y fabrique ta grosse Pizza{% endblock %}


{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.name_pizza) }}
        {{ form_widget(form.name_pizza) }}
         {{ form_label(form.desc_pizza) }}
        {{ form_widget(form.desc_pizza) }}
        {{ form_label(form.price_pizza) }}
        {{ form_widget(form.price_pizza) }}
        {{ form_label(form.img_pizza) }}
        {{ form_widget(form.img_pizza) }}
        {{ form_rest(form) }}
        <button type="submit">Enregistre ta nouvelle pizza</button>
    {{ form_end(form) }}
{% endblock %}
